<?xml version="1.0"?>
<definitions>
  <definition>
    <key>text_index_home_menu</key>
    <value><![CDATA[Haus]]></value>
  </definition>
  <definition>
    <key>text_account_login_menu</key>
    <value><![CDATA[Einloggen]]></value>
  </definition>
  <definition>
    <key>text_account_logout_menu</key>
    <value><![CDATA[Ausloggen]]></value>
  </definition>
  <definition>
    <key>text_account_account_menu</key>
    <value><![CDATA[Konto]]></value>
  </definition>
  <definition>
    <key>text_checkout_cart_menu</key>
    <value><![CDATA[Wagen]]></value>
  </definition>
  <definition>
    <key>text_checkout_shipping_menu</key>
    <value><![CDATA[Kasse]]></value>
  </definition>
</definitions>